USE [fm_db]
GO
/****** Object:  Table [dbo].[meal_items]    Script Date: 21/03/2021 13:04:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meal_items](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[cooked] [bit] NOT NULL,
	[quantity] [int] NULL,
	[food_item_id] [numeric](19, 0) NULL,
	[meal_id] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meals]    Script Date: 21/03/2021 13:04:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meals](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[quantity] [int] NULL,
	[quantity_left] [int] NOT NULL,
	[servings] [int] NULL,
	[user_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[meal_items]  WITH CHECK ADD  CONSTRAINT [FKbkra8m7kb523wvlyg55di7ecx] FOREIGN KEY([meal_id])
REFERENCES [dbo].[meals] ([id])
GO
ALTER TABLE [dbo].[meal_items] CHECK CONSTRAINT [FKbkra8m7kb523wvlyg55di7ecx]
GO
ALTER TABLE [dbo].[meal_items]  WITH CHECK ADD  CONSTRAINT [FKo5r5n11ibvf10ceyn7fqbwvo1] FOREIGN KEY([food_item_id])
REFERENCES [dbo].[food_items] ([id])
GO
ALTER TABLE [dbo].[meal_items] CHECK CONSTRAINT [FKo5r5n11ibvf10ceyn7fqbwvo1]
GO
ALTER TABLE [dbo].[meals]  WITH CHECK ADD  CONSTRAINT [FK677c66qpjr7234luomahc1ale] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[meals] CHECK CONSTRAINT [FK677c66qpjr7234luomahc1ale]
GO
